[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorhcplot"]
	path = colorhcplot
	url = https://github.com/cran/colorhcplot
[submodule "easyPubMed"]
	path = easyPubMed
	url = https://github.com/dami82/easypubmed
[submodule "mutSignatures"]
	path = mutSignatures
	url = https://github.com/dami82/mutsignatures
[submodule "TCGAretriever"]
	path = TCGAretriever
	url = https://github.com/dami82/tcgaretriever
